services:
  - type: web
    name: m3u8-extractor
    env: node
    plan: free
    region: oregon
    buildCommand: |
      apt-get update
      apt-get install -y google-chrome-stable
      npm install
    startCommand: npm start
    envVars:
      PUPPETEER_EXECUTABLE_PATH: "/usr/bin/google-chrome-stable"
