services:
  - type: web
    name: m3u8-extractor
    env: node
    buildCommand: npm install
    startCommand: npm start
    plan: free
    envVars:
      PUPPETEER_EXECUTABLE_PATH: "/usr/bin/google-chrome-stable"
    region: oregon
