services:
  - type: web
    name: m3u8-api
    env: python
    plan: free
    buildCommand: |
      apt-get update
      apt-get install -y chromium-browser
      pip install -r requirements.txt
    startCommand: gunicorn server:app
    envVars:
      - key: TARGET_URL
        value: https://news.abplive.com/live-tv
      - key: CHROME_BIN
        value: /usr/bin/chromium-browser

  - type: cron
    name: m3u8-cron
    env: python
    schedule: "*/5 * * * *"
    buildCommand: |
      apt-get update
      apt-get install -y chromium-browser
      pip install -r requirements.txt
    startCommand: python fetch_stream_optimized.py
    envVars:
      - key: TARGET_URL
        value: https://news.abplive.com/live-tv
      - key: CHROME_BIN
        value: /usr/bin/chromium-browser
